
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
}

body{
  overflow: hidden;
  overflow-y: auto;
  background: url('../img/fondocantantes.webp'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat;
}


h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;                  
  font-style: normal;               
  font-size: 2.5rem;                 
}

a{
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: 1 rem;
}

/* VIDEO HERO */

.video-hero .contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: left; /* alinea todo el texto a la izquierda */
}
.video-hero {
  position:relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
  z-index: 0;
}

.video-hero video {
  position: absolute;
  top: 0;
  left: 50%;
  width: 110%;
  height: 110%;
  object-fit: cover;
  transform: translateX(-50%);
  z-index: 0;
  filter: brightness(90%) blur(3px);
}

@keyframes entrada {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.video-hero .contenido h2 {
  opacity: 0;
  text-shadow: 0 0 5px #A5F557;
  animation: entrada 1s ease-out forwards;
  font-size: 10rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #A5F557;
  margin-bottom: 0.5rem;
}

.video-hero .contenido p {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  font-weight: 500;
  font-style: italic;
  color: #FF2DA3;
  text-align: right;
  margin-right: 2rem; /* ajusta la distancia desde el borde derecho */
}




/* MENÚ */
/* menu sticky a la derecha */
#menu {
  position: sticky;
  top: 0;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 1000;
  border-bottom: 2px solid #A5F557;
  box-shadow: 0 0 20px #A5F557;
}

#menu .logo img {
  height: 50px;
  filter: drop-shadow(0 0 5px #A5F557);
}

#menu ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

#menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

#menu ul li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #A5F557;
  transition: width 0.3s ease;
}

#menu ul li a:hover {
  color: #A5F557;
}

#menu ul li a:hover::after {
  width: 100%;

}
/* SECCIÓN TEXTO */

.seccion-texto {
  padding: 200px 90px;
  max-width: 700px;
  margin-top: 2em;
  border-radius: 10px;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  line-height: 1.6;
}

.suave {
  color: #dedede; 
  font-weight: 400;
}

.brillante {
  color: #A5F557; 
  text-shadow: 0 0 10px #A5F557;
  font-weight: bold;
}

.magenta {
  color: #FF2DA3;
  text-shadow: 0 0 7px #FF2DA3;
  font-weight: bold;
}


/* VENTA ENTRADAS */
#tipos-de-entradas {
  background: url("../img/fondocantantes.webp");  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#tipos-de-entradas h2 {
  color: (165, 245, 87);
}


#tipos-de-entradas form {
  width: 100%;
  max-width: 720px;
  background-color: rgb(165, 245, 87);
  border-radius: 10px;
  box-shadow:0,0,10px,rgba(0,0,0,0.1);
  padding: 2rem;
  font-family:var(--font-family);
}

#tipos-de-entradas p {
  margin-bottom: 1rem;
  font-size: 0.70rem;
  color: #000000;
  font-family: "Montserrat",sans-serif;
  text-align: left;
}


#tipos-de-entradas form div:not(.total-price-cont):not(.total-management-expenses) {
  background-color: #000000;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.2s ease;
}

#tipos-de-entradas form label {
  font-size: 1.2rem;
  font-weight: 600;
  color:rgb(165, 245, 87);
  width: auto;
  font-family: "Montserrat",sans-serif;
}

#tipos-de-entradas h2 {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  margin-bottom: 2rem;
}

#tipos-de-entradas form input[type="number"] {
  width: 5rem;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #000000;
  padding: 0.4rem;
  transition: all 0.2s ease;
}
#tipos-de-entradas form input[type="number"]:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 0 5px var(--secondary-color);
}


#tipos-de-entradas form .total-price-cont {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 0 0;
}

#tipos-de-entradas form #buyPass.disabled {
 box-shadow: 0 4px 10px rgba(0,0,0,0.4); ;
  color: #000000;
  cursor: not-allowed;
}

#tipos-de-entradas form .total-price-cont p {
  color: var(--accent-color);
}

#tipos-de-entradas form input[type="submit"] {

  color: rgb(165, 245, 87);
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 1.5rem;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 8px;
 
}

#tipos-de-entradas form input[type="submit"]:hover {
  background-color: rgb(182, 182, 182);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}



.ticket-item {
 background-color: #fafafa;
 border-radius: 10px;
 padding: 1.5rem;
 margin-bottom: 2rem;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
  gap: 1.5rem;
}

.ticket-item label {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ticket-info {
  display: block;
  margin-top: 0.4rem;
  font-size: 0.75rem;
  line-height: 1.4;
  color: #bbbbbb;
  font-family: "Montserrat";
}

/* MARQUESINA */

.marquesina{
  width: 100%;
  overflow: hidden;
  background: #A5F557;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  padding: 10px 0;
}

h1, .number, .label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.marquesina-contenido {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 90s linear infinite;
  padding-left: 100%;
}

.marquesina-contenido span {
  display: inline-block;
  padding-right: 30px; 
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* CUENTA ATRAS */

#cuenta-atrás{
  position: relative;
  text-align: center;
  padding: 60px 20px;
  background: url("../img/fondo-cuentaatrassi.webp");
  background-position: top center;
  background-size: cover;
  color: rgb(165, 245, 87);
  font-family:'Oswald',sans-serif;
  overflow: hidden;
}

#cuenta-atrás h1 {
  position: relative;
  z-index: 2; 
  font-size: 3rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900
}

#cuenta-atrás::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5); /* oscurece el fondo */
  z-index: 0;
}



.countdown {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin:20px;
}

.countdown div {
  background: #111;
  border-radius: 15px;
  padding: 25px 35px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
  transition: transform 0.3s ease;
}

.countdown div:hover {
  transform: scale(1.05);
}


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.number {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  animation: pulse 2s infinite;
  color:#A5F557;
  text-shadow: 0 0 5px #FF2DA3;
  

}

.label {
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 1px;
}

/* carrousel homepage */
#carrousel {
  /* background: rgb(165, 245, 87); */
background: linear-gradient(135deg, #A5F557, #000);  padding: 60px 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#carrousel h2 {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  margin-bottom: 40px;
  letter-spacing: 2px;
  text-align: center;
}

.carrousel-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.carrousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}

.carrousel-item {
  flex: 0 0 auto;
  width: 380px;
  height: 260px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.carrousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.carrousel-item img:hover {
  transform: scale(1.05);
}

.carrousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 10;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
}

.carrousel-button.prev {
  left: 10px;
}

.carrousel-button.next {
  right: 10px;
}

.carrousel-button:hover {
  background: #111;
}


.ver-mas {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 28px;
  background-color: rgb(0, 0, 0);
  color: rgb(165, 245, 87);
  text-decoration: none;
  border-radius: 10px;
  border-bottom: 2px solid #000000;
  transition: color 0.3s, border-color 0.3s;
  text-align: center;
  font-size: 1.2rem;
}


.ver-mas:hover {
  color: #FF2DA3;
  border-color:  rgb(50, 50, 50);
}


@media (max-width: 768px) {
  .carrousel-item {
    width: 80%;
  }
}

/* GALERIA */

#galeria {
  min-height: calc(80vh - 3em);
  background: url("../img/fondocantantes.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 20px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}


.galeria {
  column-count: 3;
  column-gap: 20px;
}

.galeria img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  break-inside: avoid;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.galeria img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.5);
}


/* CANTANNTES CONFIRMADOS  */
#lineup {
  min-height: calc(80vh - 3em);
  background: url("../img/fondocantantes.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 20px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#lineup h2 {
  color: rgb(165, 245, 87);
  font-size: 2.8rem;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.lineup-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.artista-card {
  background-color: #1e1e1e;
  border: 3px solid rgb(165, 245, 87);
  filter: drop-shadow(0 0 2px rgb(165, 245, 87));
  box-shadow: inset 0 0 5px rgb(165, 245, 87);
  border-radius: 15px;
  overflow: hidden;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(255,255,255,0.1);
}

.artista-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(255,255,255,0.3);
}

.artista-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.artista-info {
  padding: 15px;
  color: #fff;
}

.artista-info h3 {
  margin: 0;
  font-size: 1.4rem;
  color: rgb(165, 245, 87);
}

.artista-info p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #ccc;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(173, 173, 173, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.5s;
}

.modal > p > a {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 2em;
    color: grey;
    text-decoration: none;
}

.modal > figure {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal > figure > img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
}

#modal-Cafuné:target {
    opacity: 1;
    visibility: visible;
}


.cerrar-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(2, 2, 2);
  text-decoration: none;
  z-index: 1001;
}

.cerrar-modal:hover {
  color: rgb(165, 245, 87);
}

/* SPOIFY PLAYLIST */

.playlist-section {
  background-image: url('fondo-grafiti.png'); /* reemplaza con tu imagen de fondo */
  background-size: cover;
  background-position: center;
  padding:  40px 20x;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

.playlist-section iframe {
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 12px;

} 

.playlist-section {
  margin-top: 60px; 
  max-width: 700px;
}

/* texto explicativo */
.texto-explicativo {
  max-width: 700px;
  margin: 40px auto 20px auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #A5F557;
}

.texto-explicativo h2 {
  font-size: 2rem;
  display: inline;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #A5F557, 0 0 20px #A5F557;
}

.texto-explicativo p {
  font-size: 1.2rem;
  opacity: 0.8;
}






/* FOOTER */
/* MAPA */

#dondenosencontramos {
  background-color: #000000;
  width: 100%;
  min-height: 800px;
  margin: 0 auto;
  padding: 80px  20px;
  text-align: center;
}

#dondenosencontramos h2 {
  margin-bottom: 90px;
  font-size:3rem;
  color: rgb(165, 245, 87);
}

.ubicacion-container {
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  gap: 40px;
  flex-wrap: wrap;
  padding: 40px;
}

.map-container {
  flex: 3;
  min-width: 300px;
  height: 450px;
}

/* Info al lado */
.info-container {
  flex: 1;
  /* background: #f7f7f7; */
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  color: #ffffff;
  margin-top: 60px;
}

.info-container h3 {
  font-family:'Oswald', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
  color: #ffffff;
  font-size:30px;
}

.info-container ul {
    list-style: none;
    padding: 0;
}

.info-container li {
 margin-bottom: 20px;
 line-height: 1.4;
 font-family: monstserrat,sans-serif;
}

/* COLABORADORES */
#colaboradores {
  background-color: rgb(165, 245, 87);
  padding:40px 20px;
  text-align: center;
  font-family:Oswald,sans-serif;
}
#colaboradores h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #000;
  text-align: left;
  margin-left: 20px;
}

#colaboradores p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.colaboradores {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 8 logos por fila */
  gap: 30px;
  justify-items: center;
  align-items: center;
}

.colaboradores img {
  width: 100px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 2px rgba(0,0,0,0.2));
}

.colaboradores img :hover {
 transform: scale(1.05);
}

@media (max-width: 768px) {
  .colaboradores {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .colaboradores img {
    width: 80px;
  }
}

/* REDES SOCIALES */
.redes-sociales{
  background-color: #141414; 
  text-align: center;
  padding: 30px 20px;
  font-family: 'Arial', sans-serif;
}

.redes-sociales h2 {
  color: #f5f0e6;
  font-size: 24px;
  margin-bottom: 20px;
}

.red-social {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #f5f0e6;
  font-size: 24px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid rgb(165, 245, 87);
  filter: drop-shadow(0 0 2px rgb(165, 245, 87));
  box-shadow: inset 0 0 5px rgb(165, 245, 87);
  transition: all 0.3s ease;
  position: relative;
}

.red-social::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0.3;
  transform: rotate(10deg);
}

.red-social:hover {
  background-color: #f5f0e6;
  color: #3b2c1a;
  box-shadow: 0 0 10px #f5f0e6;
}

footer {
  background-color: #111;
  color: rgb(165, 245, 87);
  padding: 40px 20px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footer-info p,
.footer-info a {
  margin: 5px 0;
  color: rgb(165, 245, 87);
  font-size: 1rem;
}

.footer-links a {
  margin: 0 10px;
  color: rgb(165, 245, 87);
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social a {
  margin: 0 10px;
  font-size: 1.5rem;
  color: rgb(165, 245, 87);
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #fff;
}

.footer-legal a {
  margin: 0 5px;
  font-size: 0.9rem;
  color: #aaa;
  text-decoration: none;
}

.footer-legal a:hover {
  color: #f9c94c;
}



/* CANTANTES Y HORARIOS */
.fondo-contenedor {
  position: relative;
  width: 100%;
  height: auto;
}

.fondo-img {
  width: 100%;
  display: block;
}

.Cruz-cafune {
  position: absolute;
  top: 20%; 
  left: 50%;
  transform: translateX(-50%);
  width: 300px; 
  z-index: 2;
}


